<h1 id="chargen">Chargen</h1>
<ol style="list-style-type: decimal">
<li>Choose a Homeworld (Lol you don't roll stats, you pick homeworld)</li>
</ol>
<table>
<thead>
<tr class="header">
<th align="left">World Type</th>
<th align="left">Toughness</th>
<th align="left">Agility</th>
<th align="left">Strength</th>
<th align="left">Intelligence</th>
<th align="left">Felllowship</th>
<th align="left">Willpower</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">Agri-World</td>
<td align="left">Tuf +1</td>
<td align="left">Agi -1</td>
<td align="left">Str +2</td>
<td align="left">Int +0</td>
<td align="left">Fel +1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="even">
<td align="left">Daemon World</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +1</td>
<td align="left">Str +0</td>
<td align="left">Int +1</td>
<td align="left">Fel -1</td>
<td align="left">Wil +2</td>
</tr>
<tr class="odd">
<td align="left">Death World</td>
<td align="left">Tuf +1</td>
<td align="left">Agi +2</td>
<td align="left">Str +1</td>
<td align="left">Int +0</td>
<td align="left">Fel -1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="even">
<td align="left">Feral World</td>
<td align="left">Tuf +2</td>
<td align="left">Agi +1</td>
<td align="left">Str +1</td>
<td align="left">Int +0</td>
<td align="left">Fel -1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="odd">
<td align="left">Feudal World</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +2</td>
<td align="left">Str +1</td>
<td align="left">Int -1</td>
<td align="left">Fel +1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="even">
<td align="left">Forge World</td>
<td align="left">Tuf +1</td>
<td align="left">Agi +1</td>
<td align="left">Str +0</td>
<td align="left">Int +2</td>
<td align="left">Fel -1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="odd">
<td align="left">Frontier World</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +2</td>
<td align="left">Str +1</td>
<td align="left">Int +1</td>
<td align="left">Fel -1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="even">
<td align="left">Garden World</td>
<td align="left">Tuf -1</td>
<td align="left">Agi +1</td>
<td align="left">Str +0</td>
<td align="left">Int +0</td>
<td align="left">Fel +2</td>
<td align="left">Wil +1</td>
</tr>
<tr class="odd">
<td align="left">Highborn</td>
<td align="left">Tuf -1</td>
<td align="left">Agi +0</td>
<td align="left">Str +0</td>
<td align="left">Int +1</td>
<td align="left">Fel +2</td>
<td align="left">Wil +1</td>
</tr>
<tr class="even">
<td align="left">Hiveworld</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +2</td>
<td align="left">Str +0</td>
<td align="left">Int +1</td>
<td align="left">Fel +1</td>
<td align="left">Wil -1</td>
</tr>
<tr class="odd">
<td align="left">Penal Colony</td>
<td align="left">Tuf +2</td>
<td align="left">Agi +1</td>
<td align="left">Str +1</td>
<td align="left">Int +0</td>
<td align="left">Fel -1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="even">
<td align="left">Quarantine World</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +0</td>
<td align="left">Str -1</td>
<td align="left">Int +3</td>
<td align="left">Fel +0</td>
<td align="left">Wil +0</td>
</tr>
<tr class="odd">
<td align="left">Research Station</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +0</td>
<td align="left">Str +0</td>
<td align="left">Int +3</td>
<td align="left">Fel -1</td>
<td align="left">Wil +0</td>
</tr>
<tr class="even">
<td align="left">Shrine World</td>
<td align="left">Tuf +0</td>
<td align="left">Agi -1</td>
<td align="left">Str +0</td>
<td align="left">Int +1</td>
<td align="left">Fel +2</td>
<td align="left">Wil +1</td>
</tr>
<tr class="odd">
<td align="left">Voidborn</td>
<td align="left">Tuf +0</td>
<td align="left">Agi +1</td>
<td align="left">Str -1</td>
<td align="left">Int +2</td>
<td align="left">Fel +0</td>
<td align="left">Wil +1</td>
</tr>
</tbody>
</table>
<p>You have 1 Hit Die (d6) extra HD equal to your TUF. Roll all your HD and keep a number equal to your rank to determine your HP. When you rest and consume some rations, you may re-roll your HP if you like. If you rest in comfort and safety, roll +1 HD. If you are attended by a healer, roll +1 HD.</p>
<ol start="2" style="list-style-type: decimal">
<li>Choose a Background (Skill 1)
<ul>
<li>Adeptus Administratum gain Bureaucracy</li>
<li>Adeptus Arbites gain Awareness</li>
<li>Adeptus Astra Telepathica gain Psyniscience</li>
<li>Adeptus Ministorum gain Leadership</li>
<li>Imperial Guard or Navy gain Survival</li>
</ul></li>
<li>Choose a Role (Skill 2 and Ability 1&amp;2)
<ul>
<li>Adeptus Mechanicus gain Tech-Use and two abilities from this list:
<ul>
<li>Speak With Machine Spirit (you can converse with and attempt to command technology)</li>
<li>Control(You can remote control technology with your mind from 200 yards away)</li>
<li>Familiar(1 useful mind-linked floating servo-skulls equipped for combat, recon, and research)</li>
<li>Dermal Plating (+1 armor)</li>
</ul></li>
<li>Assassin gain Stealth and two abilities from this list:
<ul>
<li>Ambush (attacks from concealment to do +3 damage)</li>
<li>Reflexes (you always go first and can react when suddenly surprised)</li>
<li>Cypher (you cannot be identified and leave no trace behind when hacking systems)</li>
<li>Tinker (you can attempt to quickly pick a lock, pick a pocket, or disable a physical security system)</li>
</ul></li>
<li>Chiurgeon gain Heal and two abilities from this list:
<ul>
<li>Mend (you can attempt to neutralize poisons, remove diseases, or heal wounds with a few seconds of time)</li>
<li>Skilled(pick two more skills for free)</li>
<li>Magos Biologis(To you, biology is just another form of Technology)</li>
<li>Hardy (+6 HP)</li>
</ul></li>
<li>Warrior gain Athletics and two abilities from this list:
<ul>
<li>Skirmish (+1 damage and worn armor counts as one type lighter)</li>
<li>Tough (+1 armor)</li>
<li>Slay (+2 melee damage)</li>
<li>Smart-Link (+2 ranged damage)</li>
</ul></li>
<li>Seeker gain Deception, Drive, and Info. They also choose one from this list:
<ul>
<li>Lucky(Once per day, turn a miss into a partial success)</li>
<li>Contacts(you always know a guy who knows a guy and can seek aid from one of your many connections)</li>
<li>Scout(When you scout ahead you always spot the target before it spots you) ###Custom Character###</li>
</ul></li>
</ul></li>
</ol>
<h3 id="custom-character">Custom Character</h3>
<p>Distribute either the General Array or Dangerous array to Tuf, Agi, Str, Int, Fel, and Wil. Then chose two skills and two abilities from <em>any</em> class.</p>
<dl>
<dt>Custom World, General Array</dt>
<dd>Distribute +2, +1, +1, +0, +0, -1 to Tuf, Agi, Str, Int, Fel, and Wil
</dd>
<dt>Custom World, Dangerous Array</dt>
<dd>Distribute +3, +0, +0, +0, +0, -1 to Tuf, Agi, Str, Int, Fel, and Wil
</dd>
<dt>Skills</dt>
<dd>Athletics, Awareness, Bureaucracy, Deception, Drive, Heal, Info, Leadership, Stealth, Survival, Psyniscience, Tech-Use
</dd>
</dl>
<h2 id="equipment">Equipment</h2>
<p>There is no currency. When you need something, roll 2d6+Rank+Rarity. On a 7-9 theres something wrong with it. On a 10+ its fine. On a 12+ Its got something extra.</p>
<p>You start with as many items, with a Base rarity greater than -1, you can carry.</p>
<table style="width:97%;">
<colgroup>
<col width="22%" />
<col width="9%" />
<col width="64%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Item</th>
<th align="left">Base Rarity</th>
<th align="left">Details</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><em>Weapons</em></td>
<td align="left">-</td>
<td align="left">-</td>
</tr>
<tr class="even">
<td align="left">Light Weapon</td>
<td align="left">+0</td>
<td align="left">d6. May be wielded as a secondary weapon, allowing you to re-roll damage once per attack. Includes daggers, short swords, and hand axes.</td>
</tr>
<tr class="odd">
<td align="left">Martial Weapon</td>
<td align="left">-1</td>
<td align="left">d6+1. Must be wielded in main hand. Includes long swords, hammers, axes, spears etc.</td>
</tr>
<tr class="even">
<td align="left">Great Weapon</td>
<td align="left">-2</td>
<td align="left">d6+2 damage. Uses two hands. Includes two-handed swords, battle-axes and pole arms.</td>
</tr>
<tr class="odd">
<td align="left">Power Field</td>
<td align="left">-3</td>
<td align="left">+1d6. Choose a Light, Martial, or Great weapon, this item has a power field in addition to any other effects.</td>
</tr>
<tr class="even">
<td align="left">Small Gun</td>
<td align="left">+0</td>
<td align="left">d6. Includes light pistols, SMGS, hold-out, and las-pistols</td>
</tr>
<tr class="odd">
<td align="left">Gun</td>
<td align="left">-1</td>
<td align="left">d6+1 Includes medium and heavy pistols, SMGs, hunting rifles, and lasgun.</td>
</tr>
<tr class="even">
<td align="left">Heavy Gun</td>
<td align="left">-2</td>
<td align="left">2d6. Lascannon, Autogun</td>
</tr>
<tr class="odd">
<td align="left">Bolt Gun</td>
<td align="left">-3</td>
<td align="left">Choose a Small, Heavy, or normal solid projectile Gun. It can now use bolt ammunition.</td>
</tr>
<tr class="even">
<td align="left">Autofire</td>
<td align="left">-2</td>
<td align="left">Makes a gun automatic. Make two attacks.</td>
</tr>
<tr class="odd">
<td align="left">Grenades</td>
<td align="left">+0</td>
<td align="left">d6+2 damage to an area. Also mines, and explosives.</td>
</tr>
<tr class="even">
<td align="left">Special Grenade</td>
<td align="left">-2</td>
<td align="left">Includes EMP, Hallucinogen, melta, and Krak</td>
</tr>
<tr class="odd">
<td align="left"><em>Armor</em></td>
<td align="left">-</td>
<td align="left">-</td>
</tr>
<tr class="even">
<td align="left">Light Armor</td>
<td align="left">+0</td>
<td align="left">Armor 1</td>
</tr>
<tr class="odd">
<td align="left">Full Armor</td>
<td align="left">-1</td>
<td align="left">Armor 2. Always has a helmet. Always makes it very hard to run, move quietly, swim, leap etc</td>
</tr>
<tr class="even">
<td align="left">Portable Void Shield Generator</td>
<td align="left">-6</td>
<td align="left">Armor 2.</td>
</tr>
<tr class="odd">
<td align="left">Power Armor</td>
<td align="left">-12</td>
<td align="left">Armor 6. Ignores the damage of any weapon without a power field. Power Weapons do not penetrate its armor.</td>
</tr>
<tr class="even">
<td align="left"><em>Vehicles</em></td>
<td align="left">-</td>
<td align="left">-</td>
</tr>
<tr class="odd">
<td align="left">Civilian Vehicle</td>
<td align="left">+0</td>
<td align="left">60mph 2d6 Armor 3 Inludes Cars, Jeeps, Buses.</td>
</tr>
<tr class="even">
<td align="left">Combat Vehicle</td>
<td align="left">-6</td>
<td align="left">70kph 6d6 Armor 6 Includes Chimera, Mukaali.</td>
</tr>
<tr class="odd">
<td align="left">Rare Combat Vehicle</td>
<td align="left">-24</td>
<td align="left">25kph 12d6. Armor 12 Includes Baneblade, Titan, Lemun Russ Tank.</td>
</tr>
<tr class="even">
<td align="left"><em>Other</em></td>
<td align="left">-</td>
<td align="left">-</td>
</tr>
<tr class="odd">
<td align="left">Simple Gear</td>
<td align="left">+3</td>
<td align="left">20ft rope, lockspicks, grapppling hook, flashlight, backpack, restraints, detox sprays, chemsuit, survival kit, combead, etc.</td>
</tr>
<tr class="even">
<td align="left">Advanced Gear</td>
<td align="left">+0</td>
<td align="left">arc-torch, auto-saw, armored briefcase, wetsuit, gas/airmask, surveillance gear, pictocorder, vox-caster, etc.</td>
</tr>
<tr class="odd">
<td align="left">Xenos</td>
<td align="left">-3</td>
<td align="left">Choose any item. Its the Xenos variety. Usually comes with &quot;something extra&quot;</td>
</tr>
</tbody>
</table>
<h1 id="rolling-the-dice">Rolling The Dice</h1>
<p>When you attempt something risky, sum 2d6 and add one of your attribute scores, based on the action you’re taking. (The GM will tell you some of the possible consequences before you roll, so you can decide if it’s worth the risk or if you want to revise your action.) A total of 6 or less is a miss; things don’t go well and the risk turns out badly. A total of 7-9 is a partial success; you do it, but there’s some cost, compromise, retribution, harm, etc. A total of 10 or more is a full success; you do it without complications. And a total of 12 or more is a critical success; you do it perfectly to some extra benefit or advantage. Skills: If you have an applicable skill, you can’t miss. A roll of 6 or less counts as a partial success, but with a bigger compromise or complication than a 7-9 result.</p>
<h2 id="the-die-of-fate">THE DIE OF FATE</h2>
<p>Sometimes the GM will roll the die of fate to see how the situation is established. Low numbers are ill-fortune, high numbers are good fortune (or at least not misery). The die of fate might be rolled to establish the weather, indicate a random NPC’s general attitude, or to determine if a wandering monster appears. The GM may also roll the die of fate if the PCs take some action for which sheer chance is the only factor in the outcome. These rules are yours to bend to your will! You may find it natural to expand, redact, and modify them as you your game goes on. We advise keeping an open mind and lively discussion of possibilities at the table.</p>
<h1 id="xp-and-ranks">XP And Ranks</h1>
<p>You get 1 XP when you uncover heresy, prevent heresy, destroy heresy, or your superiors say so.</p>
<table>
<thead>
<tr class="header">
<th align="left">rank</th>
<th align="left">hit dice</th>
<th align="left">skills</th>
<th align="left">attributes</th>
<th align="left">abilities</th>
<th align="left">damage</th>
<th align="left">xp total</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">1</td>
<td align="left">1+Tuf</td>
<td align="left">1+1</td>
<td align="left">–</td>
<td align="left">2</td>
<td align="left"></td>
<td align="left">0</td>
</tr>
<tr class="even">
<td align="left">2</td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left">1</td>
</tr>
<tr class="odd">
<td align="left">3</td>
<td align="left"></td>
<td align="left"></td>
<td align="left">+1</td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">3</td>
</tr>
<tr class="even">
<td align="left">4</td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">+1 (max +3)</td>
<td align="left"></td>
<td align="left"></td>
<td align="left">6</td>
</tr>
<tr class="odd">
<td align="left">5</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left">+1d6</td>
<td align="left">10</td>
</tr>
<tr class="even">
<td align="left">6</td>
<td align="left">+1</td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">15</td>
</tr>
<tr class="odd">
<td align="left">7</td>
<td align="left"></td>
<td align="left"></td>
<td align="left">+1(max +3)</td>
<td align="left"></td>
<td align="left"></td>
<td align="left">21</td>
</tr>
<tr class="even">
<td align="left">8</td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left"></td>
<td align="left">28</td>
</tr>
<tr class="odd">
<td align="left">9</td>
<td align="left"></td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">36</td>
</tr>
<tr class="even">
<td align="left">10</td>
<td align="left">+1</td>
<td align="left"></td>
<td align="left">+1 (max +3)</td>
<td align="left"></td>
<td align="left">+1d6</td>
<td align="left">45</td>
</tr>
</tbody>
</table>
<h2 id="insanity">Insanity</h2>
<p>When you fail encountering the insane, gain 1d6 points of insanity. You go absolutely insane at 36 Insanity</p>
<h2 id="corruption">Corruption</h2>
<p>When you fail a willpower check against the Ruinous powers, gain 1d6 points of corruption. You gain mutations every 8 points. You become corrupted beyond repair at 64 points of corruption.</p>
<h1 id="psychic-disciplines">Psychic Disciplines</h1>
<p>You start with a number of psychic disciplines equal to your Willpower.</p>
<p>The psychic disciplines are Force, Biomancy, Divination, Pyromancy, Telekinesis, and Telepathy.</p>
<p>When you use a psychic power roll 2d6+Wil ... ...If you have a discipline that matters, on a 6- roll on the Psychic Phenomena Table ...If you do not have a discipline that matters, on a 7-9 roll on the Psychic Phenomena Table, on a 6- roll on the Perils of the Warp Table</p>
<h1 id="psychic-phenomena-perils-of-the-warp">Psychic Phenomena, Perils of the Warp</h1>
<p>Effect # | Psychic Phenomena | Perils of the Warp | 1 1 1 2 1 3 1 4 1 5 1 6 2 1 2 2 2 3 2 4 2 5 2 6 3 1 3 2 3 3 3 4 3 5 3 6 4 1 4 2 4 3 4 4 4 5 4 6 5 1 5 2 5 3 5 4 5 5 5 6 6 1 6 2 6 3 6 4 6 5 6 6</p>
<h1 id="critical-damage">Critical Damage</h1>
<p>Note: The critical rules are optional, but highly suggested</p>
<p>When a damage dice rolls a 5 or 6, roll 1d6 for body part (if necessary), and 1d6 for effect on the proper list.</p>
<p>Any effect with a <code>*</code> means Instant Death</p>
<p>Body Parts: Head (1), Body(2), Left Arm(3), Right Arm(4), Left Leg(5), Right Leg(6)</p>
<h2 id="rending">Rending</h2>
<dl>
<dt>Head</dt>
<dd>(1)Decapitation*, (2)Eye pops out, (3)brain exposed*, (4)Face is removed, (5)Helmet or ear is lost forever, (6)eyes or goggles are lost forever
</dd>
<dt>Body</dt>
<dd>(1)Blood Splattering Disembowelment*, (2)Disembowelment*, (3)Blood Splatter, (4,5,6 with Armor)Armor loses one point. Armor breaks at 0, (4,5,6 without armor) Extreme skin loss
</dd>
<dt>Arm</dt>
<dd>(1)Trigger-gripping Dismemberment*,(2)Clean Dismemberment*,(3)Dangling Broken Arm,(4)Loss of fingers,(5)Arm tendons cut and (6). (6)Drop whatever is held
</dd>
<dt>Leg</dt>
<dd>(1)Blood Splattering Dismemberment*,(2)Clean Dismemberment*,(3)Dangling Broken Leg, (4)Loss of Kneecap, (5)Loss of Foot, (6)Leg jerked
</dd>
</dl>
<h2 id="impact">Impact</h2>
<dl>
<dt>Head</dt>
<dd>(1)Head splatters*. Make a another attack., (2)Head Splatters*, (3)Brain pulverized*, (4)Skull fracture, (5) Bloody nose, (6) Tinnitus
</dd>
<dt>Body</dt>
<dd>(1)Massive Organ Damage*, (2)Minor Organ Damage, (3)Broken Ribcage, (4)Knocked Prone, (5)Breathless, (6)Broken Rib
</dd>
<dt>Arm</dt>
<dd>(1)Shrapnel-like Loss of Arm*, (2)Gorey Dismemberment*, (3)Shattered Bone, (4)Crushed Hand, (5)Crushing Disarm, (6)Internal Hemmorage
</dd>
<dt>Leg</dt>
<dd>(1)Gorey Dismemberment*, (2)Bloody Dismemberment, (3)Crushed Leg, (4)Crushed Foot, (5)Broken Leg, (6)Internal Hemmorage
</dd>
</dl>
<h2 id="explosive">Explosive</h2>
<p>On any Explosive (1) effect, All grenades and ammo explodes.</p>
<dl>
<dt>Head</dt>
<dd>(1)Gibbed*, (2)Crimson Mist*, (3) Gibbed*, (4)Blood Fountain*, (5)Flayed face and loss of eardrums, (6)Temporarily Blind and Deaf
</dd>
<dt>Body</dt>
<dd>(1)Gibbed*, (2)Burning Disembowelment*, (3)Scrambled Nervous System, (4)Loss of Chunks of Flesh, (5)Knocked Prone, (6)Loss of Armor or Skin
</dd>
<dt>Arm</dt>
<dd>(1)Bloody Fountain and Dismembered*, (2)Arm Disintegration*, (3)Shattered Bone, (4)Shattered Hand, (5)Finger Missiles, (6)Fractured Limb. Drop whatever is held
</dd>
<dt>Leg</dt>
<dd>(1)Bloody Eruption and Dismembered*, (2)Gorey Geyser and Dismembered*, (3)Shattered Bone, (4)Full-body Aerial Spin, (5)Cracked Limb, (6)Fall Prone
</dd>
</dl>
<h2 id="energy">Energy</h2>
<dl>
<dt>Head</dt>
<dd>(1)Superheated Brain Explodes*, (2)Head catches fire*, (3)Entire head cooked, (4)Flesh burned away, (5)Hair loss, (6)Ear cooked
</dd>
<dt>Body</dt>
<dd>(1)Blackend Corpse*, (2)Cooked Organs*, (3)Catch fire and Knocked Prone, (4)Smoking wound and Knocked Prone, (5)Scorched Body, (6)Breathless
</dd>
<dt>Arm</dt>
<dd>(1)Smoking Stump, (2)Limb catches flame, (3)Boiled marrow and Shattered Limb, (4)Fused fingers, (5)Shock and vomit, (6)Numb arm
</dd>
<dt>Leg</dt>
<dd>(1)Smoking Stump, (2)Loss of Bone, (3)Blackened Limb, (4)Blackened Foot, (5)Electric Shock and Scrambled Nervous System, (6)Painful Fusion of Leg and Clothing
</dd>
</dl>
